---
const {width, height} = Astro.props;
const socialLinks = [
{
		title: 'Twitter',
		icon: 'ri:twitter-x-fill',
		href: 'https://x.com/TheeJoeCharley',

	},
{
		title: 'Facebook',
		icon: 'simple-icons:facebook',
		href: 'https://www.facebook.com/theejoecharley/',

	},
	{
		title: 'Tiktok',
		icon: 'simple-icons:tiktok',
		href: 'https://www.tiktok.com/@theejoecharley',

	},
	{
		title: 'Youtube',
		icon: 'simple-icons:youtube',
		href: '#',

	},
	{
		title: 'Instagram',
		icon: 'mdi:instagram',
		href: 'https://www.instagram.com/theejoecharley',

	},
	
];
---

<div class="icons__container">
    {
        socialLinks.map((data) => (
            <a
                href={data.href}
                target="_blank"
                rel="nofollow noreferrer noopener"
            >
                <iconify-icon
					class=`skill__icon ${data.title}`
                    icon={data.icon}
                    width={width}
                    height={height}
                />
            </a>
        ))
    }
</div>

<style>
	.icons__container {
		display: flex;
		flex-direction: column;
    width: 29.6rem;
    /* padding: 1.3rem 4rem; */
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}
.skill__icon{
	color:#dcd8fc;
}

	.LinkedIn:hover{
		color: #0e76a8;
	}
	.Instagram:hover{
	color: #E1306C;
	}
	.Twitter:hover{
	color: #0aa5f6;
	}
	.CV:hover{
		color:#8e64ff;
	}



</style>